/*
 *
 * style variables
 */

:root {
  --main-sch-color-sm: #ffeda0;
  --main-sch-color-sm-bk1: #ffeda0bb;
  --main-sch-color-sm-bk2: #ffeda099;
  --main-sch-color-md: #feb24c;
  --main-sch-color-md-bk1: #feb24cbb;
  --main-sch-color-md-bk2: #feb24c99;
  --main-sch-color-lg: #f03b20;
  --main-sch-color-lg-bk1: #f03b20bb;
  --main-sch-color-lg-bk2: #f03b2099;
  --bold_orange: #DE3E1A;
  --main_font: "Roboto";
  --dark_blue: #83909e;
  --light_pink: #f8938c;
  --drop_dn_trans: 2ms;
  --grey_md:#CCCCCC;
  --grey_dk:#999999;
  --grey_light:#e6e6e6;
}

/*
 *
 * main css
 *
 */

body {
  padding: 0;
  margin: 0;
}

html,
body,
#my-map {
  height: 100%;
  background-color: var(--bold_orange);
  font-family: var(--main_font), sans-serif;
}

/* loading page  */
.loadingClass{
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  display: flex;
  justify-content: center;
  align-items:center; 
  
}

.loadingText{
    font-size:8rem;
    padding-right: 2rem;
}

@keyframes gearRotateLg {
    from {transform:rotate(22.5deg);}
    to {transform:rotate(382.5deg);}
}

.icon-gear.loadingIconLg {
    font-size: 5rem;
    animation-name: gearRotateLg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes gearRotateMd {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.icon-gear.loadingIconMd {
    font-size: 5rem;
    animation-name: gearRotateMd;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes gearRotateSm {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.icon-gear.loadingIconSm {
    font-size: 5rem;
    animation-name: gearRotateSm;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Leaflet Layers Control */

.leaflet-control-layers {
  border-radius: none;
  box-shadow: none;
}

.leaflet-control-layers-expanded {
  width: 100% !important;
  padding: 0px;
  background-color: transparent;
  border: none !important;
}

#layercontrol .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}


/* Style Sidebar Elements */

.level{
    display:flex;
    justify-content: center;
    align-items:center;
}

.level > span :not(.icon-dn) {
    margin: 0.333rem;
}

.level.stack{
    flex-direction: column;
    align-items:flex-start;
}

.level .tract {
    margin : 0.2rem;
}

.dropdown-container .level{
    justify-content: flex-start;
}

section.level {
    align-items: flex-start;
    justify-content: space-between;
}

section:not(.hero){
    margin: 0rem 0rem 1.5rem 0rem;
}

.level.dropdown {
    align-items: center;
    justify-content: space-between;
}
.level > .leaflet-control-layers-overlays {
    justify-content: space-around;
}

.level .leaflet-marker-icon {
    margin: 0.333rem;
}

.hero {
    padding-bottom: 1rem;
    font-size: 1.5em;
    padding-top: 1rem;
}

input[type=range] {
    padding: 0.333rem;
}

.note {
    margin: 0px 0px 10px 0px;
}

#run_moran {
    margin-top: 0.333rem;
}

label > span {
    padding-left: 0.25rem;
}


/* 
 * 
 * modifications to 
 * font icons
 * 
 */

/*
.icon-school:before {
    -webkit-text-stroke: 1.5px black;
    font-size: 3rem;
    content: "\e900";
}
*/

.icon-school:before {
    -webkit-text-stroke: 1px black;
    font-size: inherit;
    content: "\ea1e";
}

.icon-plus, .icon-minus {
    font-size: 0.75rem;
}

.icon-key_2, .icon-gear, .icon-info {
    font-size: 1.2rem;
}

.icon-rt {
    font-size: 1.5rem;
}

.icon-dn, .icon-up {
    font-size: 0.5rem;
    padding: 0;
    transition: transform var(--drop_dn_trans);
    color: #999999;
}


/*
 * side bar dropdowns
 */

.dropdown-container {
    /* this hides the sub menu */
    /*display: none;*/
    visibility: hidden;
    transition: height var(--drop_dn_trans), visibility var(--drop_dn_trans);
    height: 0;
    overflow: hidden;
}

.dropdown {
    padding: 0.33rem;
}

#tract_features > div {
    background-color: #f6efee;
    width: 95%;
}
#tract_features div:first-of-type{
    border-radius: 3px 3px 0px 0px;
}
#tract_features div:last-of-type {
    border-radius: 0px 0px 3px 3px;
}

/*
 * input and active styles
 */

input[type="checkbox"], input[type="radio"]{
  /* the javascript function addDLchecks */
  /* creates checkboxes for the leaftlet control layers*/
  -webkit-appearance: none;
  appearance: none;
}

/* Show the unchecked when unchecked */
input[type="checkbox"] ~ .icon-checkbox-unchecked {
  display: inline;
}
input[type="checkbox"] ~ .icon-checkbox-checked {
  display: none;
}

/* Show the checked when checked */
input[type="checkbox"]:checked ~ .icon-checkbox-unchecked {
  display: none;
}
input[type="checkbox"]:checked ~ .icon-checkbox-checked {
  display: inline;
}

/* Show the unradio when unradio */
input[type="radio"] ~ .icon-radio-unchecked {
  display: inline;
}
input[type="radio"] ~ .icon-radio-checked2 {
  display: none;
}

/* Show the radio when radio */
input[type="radio"]:checked ~ .icon-radio-unchecked {
  display: none;
}
input[type="radio"]:checked ~ .icon-radio-checked2 {
  display: inline;
}

.icon-radio-unchecked,.icon-checkbox-unchecked,
.icon-radio-checked2,.icon-checkbox-checked{
    color: var(--grey_dk);
}
input[type="checkbox"]:active ~ .icon-checkbox-checked,
input[type="checkbox"]:active ~ .icon-checkbox-unchecked,
input[type="checkbox"]:hover ~ .icon-checkbox-checked,
input[type="checkbox"]:hover ~ .icon-checkbox-unchecked,
input[type="radio"]:active ~ .icon-radio-checked2,
input[type="radio"]:active ~ .icon-radio-unchecked,
input[type="radio"]:hover ~ .icon-radio-checked2,
input[type="radio"]:hover ~ .icon-radio-unchecked {
    color: var(--light_pink);
}

input[type="checkbox"]:disabled ~ .icon-checkbox-checked,
input[type="checkbox"]:disabled ~ .icon-checkbox-unchecked,
input[type="checkbox"]:disabled ~ .icon-checkbox-checked,
input[type="checkbox"]:disabled ~ .icon-checkbox-unchecked,
input[type="radio"]:disabled ~ .icon-radio-checked2,
input[type="radio"]:disabled ~ .icon-radio-unchecked,
input[type="radio"]:disabled ~ .icon-radio-checked2,
input[type="radio"]:disabled ~ .icon-radio-unchecked {
    color: var(--grey_light);
}
/*
 * button styles
 */
button {
    display:inline-block;
    padding: 0.8em 1.45em;
    margin:0.1em;
    border:0.15em solid var(--grey_md);
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:var(--grey_md);
    text-align:center;
    position:relative;   
}

button:hover:not([disabled]) {
    border-color:var(--light_pink);
}

button:active {
    background-color:var(--light_pink);
}

button:disabled {
    color: var(--grey_dk);
    background-color:var(--grey_light);
    border:0.15em solid var(--grey_light);
}

button h4 {
    margin: 0px;
}

/*
 *
 *Cencus tract Css
 *
 */

.tract {
  stroke: #0E213D;
  fill-opacity: 0.5;
  stroke-dasharray: 2,2; 
  stroke-width: 0.5; 
    /* Note! Tract fill color is set by 
     * local moran's I value, 
     * see tracts.js script   */
}

/*
 *
 * school markers
 * and marker clusters
 *
 */


/* school markers  */
.school-marker {
   color: #f03b20; 
}
.school-marker.small {
   color: var(--main-sch-color-sm); 
   font-size: 2rem;
}
.school-marker.medium {
   color: var(--main-sch-color-md); 
   font-size: 2.5rem;
}
.school-marker.large {
   color: var(--main-sch-color-lg); 
   font-size: 3rem;
}

/* school marker clusters */
.marker-cluster-small {
    background-color: var(--main-sch-color-sm-bk2); 
}
.marker-cluster-small div{
    background-color: var(--main-sch-color-sm-bk1);
}
.marker-cluster-medium {
    background-color: var(--main-sch-color-md-bk2); 
}
.marker-cluster-medium div{
    background-color: var(--main-sch-color-md-bk1);
}
.marker-cluster-large {
    background-color: var(--main-sch-color-lg-bk2); 
}
.marker-cluster-large div{
    background-color: var(--main-sch-color-lg-bk1);
}

.marker-cluster {
    color: black;
    font-size: 1rem;
}

.poly-style:not(.tract) {
  stroke: green;
  fill: none;
  stroke-dasharray: 10,10; 
  stroke-width: 5; 
}



/* 
multi hue
#ffeda0
#feb24c
#f03b20
single hue
#fee6ce
#fdae6b
#e6550d
*/
 
/* UTSA colors:
 * https://imagecolorpicker.com/en
 * https://www.utsa.edu/
 * http://colorbrewer2.org/#type=sequential&scheme=YlOrRd&n=9
 * blue - #0E213D
 * orange - #DE3E1A
 */
